### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### Compiled class file ###
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
/out/

### Data work ###
*.log
*.iml
*.iws
*.ipr
*.csv
*.rdb
*.DS_Store
.attach_pid*

.env
.editorconfig
.mdlrc
.mdl-rules.rb

/.k8s/backend/secret/app.txt
/.k8s/backend/secret/spring-datasource.txt

/var/codestyle
!/var/codestyle/.gitkeep
