version: '3.7'

services:
    db:
        container_name: codexia-bot-db
        image: postgres:12.2
        restart: always
        environment:
            POSTGRES_DB: codexia-bot
            POSTGRES_USER: codexia-bot
            POSTGRES_PASSWORD: codexia-bot
        ports:
            - 54322:5432

    wiremock:
        container_name: codexia-bot-wiremock
        image: rodolpheche/wiremock
        volumes:
            - ./var/wiremock:/home/wiremock
        expose:
            - 80
        ports:
            - "8098:80"
        command:
            - "java"
            - "-cp"
            - "/var/wiremock/lib/*:/var/wiremock/extensions/*"
            - "com.github.tomakehurst.wiremock.standalone.WireMockServerRunner"
            - "--local-response-templating"
            - "--port=80"
            - "--verbose"
